__pycache__/
*.py[cod]
*$py.class

bk_mappluto_shapefile_bundle.zip
node_modules/
yarn-error.log
data/

# :(
nyc_data_map.sqlite
nyc_data_map.backup.sqlite
nyc_data_map.sqlite-journal
nyc_data_map.backup.sqlite-journal
nyc_data_map.temp.sqlite
test_db.sqlite
.DS_Store
cache.db.bak
python_scripts/update.py
python_scripts/log/log.txt
.pytest_cache
nyc_data_map_backup2.sqlite