__pycache__/
*.py[cod]
*$py.class

bk_mappluto_shapefile_bundle.zip
node_modules/
yarn-error.log
data/

# :(
nyc_data_map.sqlite
nyc_data_map.sqlite-journal
.DS_Store
cache.db.bak
python_scripts/update.py

build