@import '../SharedStyles/index.scss';

#sidebar {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: $sidebar-width;
  z-index: 1000;
  border-right: 4px double rosybrown;

  a {
    margin: 12px;
    padding: 20px;
    font-size: 22px;
  }
}
