alembic==1.0.0
atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.8.24
chardet==3.0.4
idna==2.7
Mako==1.2.2
MarkupSafe==1.0
more-itertools==4.3.0
pathlib2==2.3.2
pluggy==0.7.1
py==1.5.4
pytest==3.7.2
python-dateutil==2.7.3
python-editor==1.0.3
requests==2.19.1
Shapely==1.6.4.post2
six==1.11.0
SQLAlchemy==1.2.10
urllib3==1.23
xlrd==1.1.0
